@model string

<div class="navbar-fixed-bottom panel-footer text-right">
    <div class="container-fluid text-muted">
        <div>
            @Model
        </div>
        <div>
            @DateTime.Now
        </div>
    </div>
</div>